@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&family=Comfortaa&family=Inconsolata&family=Space+Grotesk&display=swap');

h1 {
    font-family: "Space Grotesk";
}

header {
    text-align: center;
    font-size: 2em;
    background-color: lightgray;
    padding: 20px;
}

main {

}

section {
    
}

footer {
    background-color: lightgray;
}

@media screen and (min-width: px) {

}

@media screen and (min-width: px) {

}