@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&family=Comfortaa&family=Inconsolata&family=Space+Grotesk&display=swap');

h1 {
    font-family: "Space Grotesk", sans-serif;
}

header {
    text-align: center;
}

header div {
    font-size: 2em;
    background-color: lightgray;
    padding: 20px;
    margin: 40px 0;
}

section {
    text-align: center;
    color: white;
    background-color: darkgreen;
    padding: 10px;
    margin: 20px;
    border-radius: 15px;
}

a {
    color: white;
}

img {
    border: 5px solid lime;
    margin: 25px;
    width: 80%
}

hr {
    margin: 0 20px;
}

p {
    padding: 0 20px;
}

p, h2, a {
    font-family: "Chakra Petch", sans-serif;
}

footer {
    background-color: lightgray;
}

footer div {
    text-align: center;
    padding: 10px 0px;
}

@media screen and (min-width: 600px) {
    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    img {
        max-width: 350px;
        width: 60%
    }
}

@media screen and (min-width: 1100px) {
    main {
        grid-template-columns: 1fr 1fr 1fr;
    }
}