/* Common Elements */
@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Lemonada:wght@300&display=swap');

body {
    font-family: Arvo, Arial, Helvetica, sans-serif;
    background-color: #FFDAD5;
    color: #A35336;
}

header, footer {
    background-color: #443850;
    color: #6CD4FF;
}

header {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    font-family: Lemonada, Georgia, 'Times New Roman', Times, serif;
    align-items: center;
    font-size: 10pt;
}

header img {
    width: 80%;
    max-width: 300px;
    margin: 10%;
}

nav {
    display: flex;
    flex-direction: column;
}

nav a {
    display: none;
    padding: 20px;
    font-size: 1em;
    text-decoration: none;
    color: #6CD4FF;
    text-align: center;
}

nav a:first-child {
    display: block;
    font-size: 1.5em;
    border: 1px solid #6CD4FF;
    margin: 10px;
    text-align: center;
    align-self: center;
}

nav a:hover {
    background-color: #6CD4FF;
    color: #443850;
}

.responsive a {
    display: block;
}

h2 {
    text-align: center;
    font-size: 14pt;
    padding: 10px;
    margin: 0;
}

footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

#bottom-logo {
    display: none;
}

#contact {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    grid-column: 1/2;
    margin: 20px;
    font-size: 9pt;
}

#social {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 5px;
}

.icon {
    width: 45px;
    margin: 5px;
}

hr {
    width: 100%;
    height: 1px;
    grid-column: 1/4;
    background-color: #6CD4FF;
    border: 0px;
}

.bottom {
    grid-column: 1/4;
    text-align: center;
    padding-bottom: 10px;
}

/* Homepage Elements */
#hero-div img {
    width: 100%;
}

#home-main a {
    display: block;
    border: 1px solid #A35336;
    border-radius: 10px;
    font-size: 12pt;
    font-weight: bold;
    margin: 20px;
    padding: 5px;
    text-decoration: none;
    color: #A35336;
    background-color: #FFDAD5;
}

.home-div {
    margin: 10px;
    border: 3px dashed #A35336;
    text-align: center;
    background-color: #B3F08B;
    padding: 10px;
}

.home-div p {
    padding: 25px;
    margin: 0;
    font-size: 13pt;
}

#weather section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

#conditions {
    width: 200px;
    font-size: 16pt;
}

table {
    width: 100%;
    height: 150px;
    background-color: #FFDAD5;
}

thead td {
    font-weight: bold;
    background-color: #6CD4FF;
    color: #443850;
    padding: 5px;
}

td {
    width: 30%;
}

table, th, td {
    border-collapse: collapse;
    border: 1px solid #A35336
}

#forecast, #conditions {
    margin: 5px;
}

#forecast {
    border: 1px solid #A35336;
    padding: 20px;
    background-color: #FFDAD5;
}

#forecast h3{
    font-size: 13pt;
    text-decoration: underline;
}

/* Fresh Page Elements */
#fresh-main section {
    display: flex;
    flex-direction: column;
}

#form, #drink {
    margin: 30px auto;
}

form input, form textarea {
    display: block;
    margin: 5px;
}

#fruits {
    display: grid;
    grid-template-columns: 30px 150px;
    align-items: center;
    margin-bottom: 15px;
}

#fruits label {
    padding: 5px;
}

#drink {
    border: 3px dashed #A35336;
    padding: 50px;
    width: 180px;
}

#drink h3 {
    text-decoration: underline;
    text-align: center;
}

/* About Page Elements */
#about-main {
    text-align: center;
}

#about-main h2 {
    font-size: 24pt;
}

#about-main h3 {
    text-decoration: underline;
}

#about-main p {
    margin: 15px 15%;
}

#about-main span {
    font-weight: lighter;
}

iframe {
    margin-bottom: 35px;
}


/* Medium Size */
@media screen and (min-width: 650px) {
    header {
        font-size: 16pt;
    }
    
    h2 {
        font-size: 18pt;
    }

    #home-main {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    
    #hero-div, #weather {
        grid-column: 1/3;
    }
    
    #drink-div a {
        font-size: 20pt;
    }
    
    #fresh-main section {
        flex-direction: row;
    }
    
    footer {
        grid-template-columns: 2fr 4fr 3fr;
    }
    
    #bottom-logo {
        display: inline;
        width: 60%;
        margin: 20%;
    }

    #contact {
        grid-column: 2/3;
    }

    #social {
        flex-wrap: nowrap;
    }

    .icon {
        width: 60px;
    }
}

/* Large Size */
@media screen and (min-width: 1000px) {
    header {
        font-size: 20pt;
        grid-template-columns: 2fr 3fr 5fr;
    }
    
    nav {
        flex-direction: row;
        margin: 0 auto;
    }
    
    nav a {
        display: block;
    }

    nav a:first-child {
        display:none;
    }

    main {
        max-width: 1200px;
        margin: 0 auto;
    }

    #home-main {
        grid-template-columns: 4fr 3fr 3fr 3fr 4fr;
    }

    #hero-div {
        grid-column: 1/6;
        grid-row: 1/3;
    }

    #summary {
        grid-column: 4/6;
        grid-row: 1/2;
        height: 200px;
        align-self: center;
    }
    
    #drink-div {
        grid-column: 4/6;
        grid-row: 2/3;
        height: 200px;
        align-self: center;
    }

    #weather {
        grid-column: 2/5;
    }
    
    #contact {
        flex-direction: row;
        justify-content: space-between;
    }
}