/* Common Elements */
@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Lemonada:wght@300&display=swap');

body {
    font-family: Arvo, Arial, Helvetica, sans-serif;
    background-color: #FFDAD5;
    color: #A35336;
}

header, footer {
    background-color: #443850;
    color: #6CD4FF;
}

header {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    font-family: Lemonada, Georgia, 'Times New Roman', Times, serif;
    align-items: center;
    font-size: 10pt;
}

header img {
    width: 80%;
    max-width: 300px;
    margin: 10%;
}

nav {
    display: flex;
    flex-direction: column;
}

nav a {
    display: none;
    padding: 20px;
    font-size: 1em;
    text-decoration: none;
    color: #6CD4FF;
}

nav a:first-child {
    display: block;
    font-size: 1.5em;
    border: 1px solid #6CD4FF;
    margin: 10px;
    text-align: center;
    align-self: center;
}

nav a:hover {
    background-color: #6CD4FF;
    color: #443850;
}

.responsive a {
    display: block;
}

h2 {
    text-align: center;
}

footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

#bottom-logo {
    display: none;
}

#contact {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    grid-column: 1/2;
    margin: 20px;
    font-size: 9pt;
}

#social {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 5px;
}

.icon {
    width: 45px;
    margin: 5px;
}

/* Homepage Elements */
#hero-div {
    font-family: Lemonada, Georgia, 'Times New Roman', Times, serif;
}

#hero-div img {
    width: 100%;
}


/* Fresh Page Elements */
#fresh-main section {
    display: flex;
    flex-direction: column;
}

#form, #facts {
    margin: 30px auto;
}

form input, form textarea {
    display: block;
    margin: 5px;
}

#fruits {
    display: grid;
    grid-template-columns: 30px 150px;
    align-items: center;
    margin-bottom: 15px;
}

#fruits label {
    padding: 5px;
}

/* About Page Elements */



/* Medium Size */
@media screen and (min-width: 650px) {
    header {
        font-size: 16pt;
    }

    #home-main {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    
    #fresh-main section {
        flex-direction: row;
    }
    
    footer {
        grid-template-columns: 2fr 4fr 3fr;
    }
    
    #bottom-logo {
        display: inline;
        width: 60%;
        margin: 20%;
    }

    #contact {
        grid-column: 2/3;
    }

    #social {
        flex-wrap: nowrap;
    }

    .icon {
        width: 60px;
    }
}

/* Large Size */
@media screen and (min-width: 1000px) {
    header {
        font-size: 20pt;
        grid-template-columns: 2fr 3fr 5fr;
    }
    
    nav {
        flex-direction: row;
        margin: 0 auto;
    }
    
    nav a {
        display: block;
    }

    nav a:first-child {
        display:none;
    }

    #home-main {
        grid-template-columns: 1fr 1fr 1fr;
    }
    
    #contact {
        flex-direction: row;
        justify-content: space-between;
    }
}