@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Lemonada:wght@300&display=swap');

h1 {
    background-color: #475B63;
    color: #F6F8EA;
    font-family: 'Josefin Sans', 'Gill Sans', sans-serif;
    padding: 10px;
    margin: 10px auto;
    text-align: center;
    font-size: 4em
}

nav {
    background-color: #551B14;
    display: flex;
    flex-direction: column;
    position: relative;
}

nav ul {
    list-style-type: none;
    text-align: center;
    padding: 0;
}

nav ul li a {
    text-decoration: none;
    font-size: 14pt;
    color: #F6F8EA;
    padding: 15px;
    display: block;
}

nav a:hover {
    background-color: #EF5B22;
}

main {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    font-size: 14pt;
}

section {
    grid-column: 2/3;
}

h2 {
    font-family: 'Josefin Sans', 'Gill Sans', sans-serif;
    grid-column: 2/3;
    color: #EF5B22;
    margin: 5px auto
}

h3 {
    font-family: 'Josefin Sans', 'Gill Sans', sans-serif;
    grid-column: 2/3;
    color: #EF5B22;
    margin: 5px auto;
}

p {
    font-family: Bitter, sans-serif;
    grid-column: 2/3;
    color: #475B63;
    margin: 5px auto;
}

hr {
    width: 80%;
    height: 3px;
    grid-column: 1/4;
    background-color: #551B14;
}

table {
    grid-column: 2/3;
    width: 90%;
    margin: 40px auto;
    border: 2px solid black;
    border-collapse: collapse;
    font-family: Bitter, sans-serif;
}

tr td {
    border: 1px solid black;
    padding: 5px;
}

.tablehead {
    font-weight: bold;
    border: 2px solid black;
}

@media screen and (min-width:750px){
        
    nav ul {
        display:flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
}